*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f9fdfb;
    color: #080;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.navbar .logo {
    font-weight: bold;
    color: #006d5b;
}
nav {
    width: 100%;
    display: flex;
    justify-content: flex-end; 
    padding: 10px 20px;        
}

nav a {
    margin-left: 20px;         
    text-decoration: none;
    font-size: 20px;
    color:#080;
}

.navbar nav a:hover {
    text-decoration: underline;
}


.hero {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.hero .content h1 {
    font-size: 3rem;
    margin-bottom: 15px;
    color: #080;
}

.hero .content p {
    font-size: 1.1rem;
    color: #080;
    margin-bottom: 30px;
}

.hero button {
    background-color: #006d5b;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    position: relative;
    top:10px ;
}

.hero button:hover {
    background-color: #004c3f;
}

.images img {
    position: absolute;
    
    border-radius: 10px;
    object-fit 10:

}


.images img:nth-child(1) { top: 20%; left: 5%; }
.images img:nth-child(2) { top: 10%; left: 35%; }
.images img:nth-child(3) { top: 15%; right: 10%; }
.images img:nth-child(4) { bottom: 20%; left: 10%; }
.images img:nth-child(5) { bottom: 15%; right: 15%; }
.images img:nth-child(6) { bottom: 5%; left: 45%; }





